<!-- <!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>회원정보</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/theme.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="index.html">
		미술관 </a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="index.html">메인화면</a>
			</li>
			<li>
			<a href="auction.html">경매장</a>
			</li>
			<li>
			<a href="page-sample.html">굿즈샵</a>
			</li>
			<li>
			<a href="login.jsp">Login</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<header class="myheader">
</header>

<!-- Contact Section -->
<section id="contact">
<div class="container content-section">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="done">
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">×</button>
					Your message has been sent. Thank you!
				</div>
			</div>
			<form id="contactform" action="/insert" method="post">
				<div class="form">
					<input type="text" id="nameinfo" name="name" placeholder="이름(NAME) *" required>
					<input type="text" id="idinfo" name="id" placeholder="아이디(ID) *" required>
					<input type="button" id="checkid" class="clearfix btn" value="아이디 중복 확인" onclick="idcheck()"><span id="printmsg1"></span>
					<input type="password" id="pw1" name="password" placeholder="비밀번호(PASSWORD) *" maxlength="12" required>
					<input type="password" id="pw2" placeholder="비밀번호 확인(REPEAT PASSWORD) *" maxlength="12" required>
					<input type="button" id="checkpw" class="clearfix btn" value="비밀번호 확인" onclick="pwcheck()"><span id="printmsg2"></span>
					<input type="text" id="emailinfo" name="email" placeholder="이메일 주소(E-MAIL ADDRESS) *" required>
					<input type="button" id="checkemail" class="clearfix btn" value="이메일 중복 확인" onclick="emailcheck()"><span id="printmsg3"></span>
					<input type="text" id="phoneinfo" name="phone" placeholder="전화번호(PHONE NUMBER) *" required>
					<input type="button" id="finalbtn" class="clearfix btn" value="가입하기" onclick="datainfo()"><span id="printmsg4"></span>
					<input type="hidden" id="check1" value=""><input type="hidden" id="check2" value=""><input type="hidden" id="check3" value="">
				</div>
			</form>
		</div>
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Go to <i class="fa fa-love"></i><a href="https://github.com/893107/Full-stack-Project.git">GitHub</a>

	</p>
</div>
</footer>

<script type="text/javascript">
    
</script>
	
<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/function.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<!-- Contact JavaScript -->
<script src="js/validate.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/theme.js"></script>
</body>
</html>