body {
	width:100%;
	height:100%;
	font-family:Open Sans,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#fff;
	background-color:#000;
	 font-weight:300;
}
html {
	width:100%;
	height:100%;
}
h1 {
	margin:0 0 35px;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	letter-spacing:1px;
	text-align:left;
	float: left;
}
h2,h3,h4,h5,h6 {
	margin:0 0 35px;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	letter-spacing:1px;
}
p {
	margin:0 0 25px;
	font-size:18px;
	line-height:1.5;
}
@media(min-width:768px) {
	p {
		margin:0 0 35px;
		font-size:20px;
		line-height:1.6;
	}
}
a {
	color:inherit;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
a:hover,a:focus {
	text-decoration:none;
	color:inherit;
}
.light {
	font-weight:400;
}
.navbar-custom {
	margin-bottom:0;
	border-bottom:1px solid rgba(255,255,255,.3);
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#000;
}
.navbar-custom .navbar-brand {
	font-size:20px;
	text-transform:none;
	letter-spacing:1px;
}
.navbar-custom .navbar-brand:focus {
	outline:0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding:4px 6px;
	font-size:16px;
	color:#fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,.navbar-custom .navbar-brand .navbar-toggle:active {
	outline:0;
}
.navbar-custom a {
}
.navbar-custom .nav li a {
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline:0;
	color:#1ba39c;
	background-color:transparent;
}
.navbar-custom .nav li a:focus,.navbar-custom .nav li a:active {
	outline:0;
	background-color:transparent;
}
.navbar-custom .nav li.active {
	outline:0;
}
.navbar-custom .nav li.active a {
	color:#1ba39c;
}
.navbar-custom .nav li.active a:hover {
	color:#1ba39c;
}
@media(min-width:768px) {
	.navbar-custom {
		padding:20px 0;
		border-bottom:0;
		font-size:13px;
		background:0 0;
		-webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition:background .5s ease-in-out,padding .5s ease-in-out;
		transition:background .5s ease-in-out,padding .5s ease-in-out;
	}
		 .navbar-custom.top-nav-collapse {
		 padding:0;
		border-bottom:1px solid rgba(255,255,255,.3);
		color:#333;
			background:#fff;
	}
	.navbar-custom.top-nav-collapse a {
		color:#333;
		display:inline-block;
	}
}
/* header 출력 정보 */
.intro {
	display:table;
	width:100%;
	height:auto;
	padding:100px 0 100px 0;
	text-align:center;
	color:#fff;
	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url('https://cdn.discordapp.com/attachments/436117760804913155/999633987658072175/517096ldsdl.jpg');
	/* 원본 : url('https://mdl.artvee.com/sftb/517096ld.jpg') */
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
.intro .intro-body {
	display:table-cell;
	vertical-align:middle;
}
.intro .intro-body .brand-heading {
	font-size:40px;
}
.intro .intro-body .intro-text {
	font-size:18px;
}

.myheader {
	width:100%;
	height:90px;
	text-align:center;
	color:#fff;
	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url('https://cdn.discordapp.com/attachments/436117760804913155/999633987658072175/517096ldsdl.jpg');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}

.auction-header {
	display:table;
	width:100%;
	height:200px;
	padding:100px 0 100px 0;
	text-align:center;
	color:#fff;
	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88)),url('https://cdn.discordapp.com/attachments/436117760804913155/999633987658072175/517096ldsdl.jpg');
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	-o-background-size:cover;
}
.auction-header .intro-body {
	display:table-cell;
	vertical-align:middle;
}
.auction-header .intro-body .brand-heading {
	font-size:40px;
}
.auction-header .intro-body .intro-text {
	font-size:18px;
}
@media(min-width:768px) {
	.intro {
		height:100%;
		padding:0;
	}
	.intro .intro-body .brand-heading {
		font-size:60px;
		margin-top:90px;
		margin-bottom:20px;
		display:inline-block;
		padding:10px 0;
	}
	.intro .intro-body .intro-text {
		font-size:20px;
			font-weight:300;
			letter-spacing:3px;
	}
}
.btn-circle {
	width:50px;
	height:50px;
	margin-top:15px;
	line-height:40px;
	text-align:center;
	border:2px solid #fff;
	border-radius:100%!important;
	font-size:20px;
	color:#fff;
	background:0 0;
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}
.btn-circle:hover,.btn-circle:focus {
	outline:0;
	color:#fff;
	background:rgba(255,255,255,.1);
}
.btn-circle i.animated {
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name:pulse;
	-moz-animation-name:pulse;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
	50% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform:scale(1);
		transform:scale(1);
	}
	50% {
		-moz-transform:scale(1.2);
		transform:scale(1.2);
	}
	100% {
		-moz-transform:scale(1);
		transform:scale(1);
	}
}
.content-section {
	padding:40px 0;
	clear:both;
}
@media(min-width:767px) {
	.content-section {
		padding:150px 0;
			 clear:both;
	}
}
.btn {
	border-radius:0;
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:400;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.btn-default {
	border:1px solid #42dca3;
	color:#42dca3;
	background-color:transparent;
}
.btn-default:hover,.btn-default:focus {
	border:1px solid #42dca3;
	outline:0;
	color:#000;
	background-color:#42dca3;
}
ul.banner-social-buttons {
	margin-top:0;
}
@media(max-width:1199px) {
	ul.banner-social-buttons {
		margin-top:15px;
	}
}
@media(max-width:767px) {
	ul.banner-social-buttons li {
		display:block;
		margin-bottom:20px;
		padding:0;
	}
	ul.banner-social-buttons li:last-child {
		margin-bottom:0;
	}
}
footer {
	padding:40px 0;
	z-index:1;
	position:relative;
	clear:both;
}
footer p {
	margin:0;
	font-size:15px;
}
footer p.credits {
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:3px;
}
::-moz-selection {
	text-shadow:none;
	background:#fcfcfc;
	background:rgba(255,255,255,.2);
}
::selection {
	text-shadow:none;
	background:#fcfcfc;
	background:rgba(255,255,255,.2);
}
img::selection {
	background:0 0;
}
img::-moz-selection {
	background:0 0;
}
body {
	webkit-tap-highlight-color:rgba(255,255,255,.2);
}
.bgblue {
	background:#22292c;
}
.inlineblock {
	display:inline-block;
}
p:last-child {
	margin-bottom:0;
}
p.lead {
	line-height:1.9;
}
.btnghost {
	border:2px solid #333;
	background-color:transparent;
	padding:15px 20px;
	letter-spacing:3px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:400;
	color:#333;
	margin-top:20px;
	display:inline-block;
}
.btnghost:hover {
	background-color:#333;
	color:#fff;
	border:2px solid #333;
}
.bgcover {
	background-size:cover;
	background-repeat:no-repeat;
	position:relative;
}
img {
	max-width:100%;
}
/* 갤러리 효과 */
.gallery {
	display: grid;
	grid-auto-flow: row dense;
	/* grid-template-columns: 1fr 1fr 1fr; */
}
.gallery ul {
	padding:0;
	margin:0;
	gap: 30px;
	row-gap: 20px;
}
.gallery img {
	max-width:400px;
	height:auto;
	padding:0;
	margin:0;
	object-fit: cover;
	
}
.gallery ul li {
	margin:0;
	position:relative;
	list-style:none;
	float:left;
	padding:0;
}
.gallery ul li a {
	display:block;
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	line-height:0;
}
.gallery ul li a:before {
	position:absolute;
	width:32px;
	height:32px;
	top:40%;
	left:50%;
	margin:-14px 0 0 -16px;
	background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
	content:"";
	opacity:0;
	z-index:1;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.gallery ul li a:hover:before {
	top:50%;
	opacity:1;
}
.gallery ul li a:after {
	position:absolute;
	width: 400px;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.3);
	content:"";
	opacity:0;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
.gallery ul li a:hover:after {
	opacity:1;
}
section:after {
	float:none;
	clear:both;
}
section {
	background-color:#f9f9f9;
	color:#333;
	overflow:hidden;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border-bottom:2px solid orangered !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;	
}
/* 회원정보 수정 */
#alibox {
	width:100%;
}
#alibox form div.showvalue {
	text-align: center;
	width:50%;
}
#mypageform{
	/* width:100%; */
	flex-direction: column;
	place-items: center;
}
#mypageform input{
	border:0px;
	border-bottom:2px solid #333;
	width:50%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}

#mypageform input#updatedata {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#mypageform input#btn-update {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#mypageform input#infocheck {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}

#mypageform input#checkpw {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}

#mypageform input#checkemail {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}

#mypageform input#submit:hover {
	background-color:#333;
	color:#fff;
	border:2px solid #333;
}

/* 경매장 */
#tothetop { 
	position: fixed; 
	bottom: 50%; 
	right: 3rem; 
	cursor: pointer; 
}
.action_btn {
	border-radius: 20px;
	background-color: #000;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	cursor: pointer;
}
#auctionform #mymoney {
	border:0px;
	width:30%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}
#auctionform #nowmoney {
	border:0px;
	width:30%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}
#auctionform input,#auctionform textarea {
	border:0px;
	border-bottom:2px solid #333;
	width:40%;
	height:10px;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}
#auctionform .div1 {
	text-align: center;
}

#auctionform .div2 {
	text-align: center;
}

@media (hover: hover) {
	#creditcard {
	  transform: translateY(110px);
	  transition: transform 0.1s ease-in-out;
  }
  
  #money {
	  transform: translateY(180px);
	  transition: transform 0.1s ease-in-out;
  }
  
  .action_btn:hover #creditcard {
	  transform: translateY(0px);
	  transition: transform 0.2s ease-in-out;
  
  }
  
  .action_btn:hover #money {
	  transform: translateY(0px);
	  transition: transform 0.3s ease-in-out;
  
  }}
  
  @keyframes bounce {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-0.25rem);
	}
	100% {
	  transform: translateY(0);
	}
  }
  
  .action_btn:hover .button__text span {
	transform: translateY(-0.25rem);
	transition: transform .2s ease-in-out;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  .action_btn {
	border: 0.5px;
	border-color: black;
	outline: none;
	background-color: purple;
	padding: 1rem 30px 1rem 2rem;
	position: relative;
	color: rgb(255, 255, 255);
	font-size: 15px;
	font-family: "Lato", sans-serif;
	border-radius: 8px;
	letter-spacing: 0.7px;
	background-color: #ffffff;
	cursor: pointer;
	box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  }

  .action_btn:active {
	transform: translateY(1px);
  }
  
  .button__svg {
	position: absolute;
	overflow: visible;
	bottom: 6px;
	right: 0.2rem;
	height: 140%;
  } 

/* 로그인폼 */
.logincontainer {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  overflow: hidden;
}

button.login_btn {
	background-color: #FFFFFF;
	border-color: #000000;
	color: #000000;
}

button.newsignup_btn {
	background-color: #000000;
	border-color: #ffffff;
}

.sign-in-container {
	left: 0;
	width: 50%;
}
.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

.overlay {
	background: #000000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}

.overlay-right {
	right: 0;
}

/* 회원가입 폼 */
#contactform input,#contactform textarea {
	border:0px;
	border-bottom:2px solid #333;
	width:100%;
	background-color:transparent;
	padding:20px 0px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
}
#contactform input#finalbtn {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#contactform input#checkid {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#contactform input#checkpw {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#contactform input#checkemail {
	width:auto;
	border:2px solid;
	padding:10px 20px;
	display:inline-block;
}
#contactform input#submit:hover {
	background-color:#333;
	color:#fff;
	border:2px solid #333;
}
#contactform input:focus,#contactform input:active,#contactform textarea:focus,#contactform textarea:active {
	border-top:0px;
	border-bottom:2px solid lightseagreen;
	outline:0;
	outline: none;
}

/* 메인화면 전시회 */
#page-sample {
	text-align: center;
	place-items: center;
	align-items:center;
}
.maincontainer {
	/* max-width: 95%; */
	text-align: center;
	place-items: center;
}
.images2 {
	width: 100%;
	height: auto;
}
.images2 a {
	width: 100%;
	height: auto;
}
.images2 a img {
	width: 100%;
	vertical-align: top;
	object-fit: contain;
}

@media (min-width: 640px) {
	#imggallery {
	  display: flex;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  gap: 20px;
	  grid-auto-flow: row;
	  place-items: center;
	}
	.gallery1 {
	  height: 100%;
	  flex-direction: column;
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: top;
	  vertical-align: top;
	}
	.gallery2 {
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: center;
	  vertical-align: top;
	}
	.gallery3 {
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: center;
	  vertical-align: top;
	}
	.gallery4 {
		display: flex;
		flex-direction: column;
		row-gap: 60px;
		place-items: center;
		vertical-align: top;
	  }
  }  
#contact {
	place-items: center;
}
/* 굿즈 스토어 */
#imgcontent {
	width: 80%;
	margin: auto;
	overflow: hidden;
  }
  .images {
	width: 100%;
	height: auto;
  }
  .images a {
	width: 300px;
	height: 300px;
  }
  .images a img {
	width: 100%;
	vertical-align: top;
	object-fit: contain;
  }
   
   @media (min-width: 640px) {
	#imgcontent {
	  display: flex;
	  grid-template-columns: 1fr 1fr 1fr;
	  gap: 30px;
	  grid-auto-flow: row;
	}
	.imageFlex1 {
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: center;
	}
	.imageFlex2 {
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: center;
	}
	.imageFlex3 {
	  display: flex;
	  flex-direction: column;
	  row-gap: 60px;
	  place-items: center;
	}
  }  
.grid-image {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    margin:30px 0;
}
.grid-image img {
    width:calc(33.333% - 10px);
    margin:0 15px 15px 0;
}
.grid-image img:nth-of-type(3n),
.grid-image img:last-child {
    margin-right:0;
}
@media screen and (max-width:640px){
  .grid-image img {
    width:calc(50% - 15px);
  }
}
@media screen and (max-width:480px){
  .grid-image img:nth-of-type(2n) {
    margin-right:0;
  }
  .grid-image img:nth-of-type(3n) {
    margin-right:15px;
  }
}

/* 레이어 팝업 */
* {
    margin:0;
    padding:0;
}
 
a { text-decoration: none; }
 
#layerPopup {
    display: none;
	text-align: center;
}

#layerPopup + label {
    display:inline-block;
    padding: 7px 14px;
    background:#333;
    color:#fff;
}
#layer_bg {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
 
#layer_bg > #popup {
    position:absolute;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:600px;
    height:450px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
 
#layer_bg > #popup > h2 {
    margin-bottom:25px;
}
 
#layer_bg > #popup > h2 > label {
    float: right;
}

#layer_bg_img {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
 
#layer_bg2 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
 
#layer_bg2 > #popup {
    position:absolute;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:600px;
    height:400px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
 
#layer_bg2 > #popup > h2 {
    margin-bottom:25px;
}
 
#layer_bg2 > #popup > h2 > label {
    float: right;
}

#layer_bg2 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 카운트다운 타이머 */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Covered+By+Your+Grace&family=Gentium+Book+Plus&display=swap');

#days {
  font-size: 50px;
  /* font-family: 'Covered By Your Grace', cursive; */
  color: #000000;
}
#hours {
  font-size: 50px;
  color: #000000;
}
#minutes {
  font-size: 50px;
  color: #000000;
}
#seconds {
  font-size: 50px;
  color: #000000;
}

#timer.div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

#timer{
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
}

/* 1 */
#LP1 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP1 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP1 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP1 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP1 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP1 > #popup > h2 {
    margin-bottom:25px;
}
#LP1 > #popup > h2 > label {
    float: right;
}
#LP1 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 2 */
#LP2 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP2 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP2 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP2 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP2 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP2 > #popup > h2 {
    margin-bottom:25px;
}
#LP2 > #popup > h2 > label {
    float: right;
}
#LP2 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 3 */
#LP3 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP3 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP3 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP3 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP3 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP3 > #popup > h2 {
    margin-bottom:25px;
}
#LP3 > #popup > h2 > label {
    float: right;
}
#LP3 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 4 */
#LP4 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP4 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP4 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP4 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP4 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP4 > #popup > h2 {
    margin-bottom:25px;
}
#LP4 > #popup > h2 > label {
    float: right;
}
#LP4 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 5 */
#LP5 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP5 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP5 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP5 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP5 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP5 > #popup > h2 {
    margin-bottom:25px;
}
#LP5 > #popup > h2 > label {
    float: right;
}
#LP5 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 6 */
#LP6 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP6 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP6 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP6 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP6 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP6 > #popup > h2 {
    margin-bottom:25px;
}
#LP6 > #popup > h2 > label {
    float: right;
}
#LP6 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 7 */
#LP7 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP7 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP7 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP7 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP7 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP7 > #popup > h2 {
    margin-bottom:25px;
}
#LP7 > #popup > h2 > label {
    float: right;
}
#LP7 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 8 */
#LP8 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP8 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP8 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP8 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP8 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP8 > #popup > h2 {
    margin-bottom:25px;
}
#LP8 > #popup > h2 > label {
    float: right;
}
#LP8 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 9 */
#LP9 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP9 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP9 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP9 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP9 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP9 > #popup > h2 {
    margin-bottom:25px;
}
#LP9 > #popup > h2 > label {
    float: right;
}
#LP9 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 10 */
#LP10 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP10 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP10 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP10 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP10 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP10 > #popup > h2 {
    margin-bottom:25px;
}
#LP10 > #popup > h2 > label {
    float: right;
}
#LP10 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 11 */
#LP11 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP11 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP11 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP11 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP11 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP11 > #popup > h2 {
    margin-bottom:25px;
}
#LP11 > #popup > h2 > label {
    float: right;
}
#LP11 .btnghost {
	align-items: center;
    justify-content: flex-start;
}
/* 12 */
#LP12 {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#LP12 > #popup {
	position: fixed;
	overflow: scroll;
	row-gap: 50px;
	display: flex;
	grid-template-columns: 1fr 1fr;
    padding:15px;
    box-sizing:border-box;
    border-radius:15px; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:1200px;
    height:600px;
	color: #000;
    background:#fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.2); 
}
#LP12 > #popup > div {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #000;
}
#LP12 > #popup > div > inf {
	width: 80%;
	text-align: center;
	color: #000;
}
#LP12 > #popup > div > img {
	width: 80%;
	height: auto;
}
#LP12 > #popup > h2 {
    margin-bottom:25px;
}
#LP12 > #popup > h2 > label {
    float: right;
}
#LP12 .btnghost {
	align-items: center;
    justify-content: flex-start;
}