<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>여름 테마 온라인 전시회</title>

<!-- CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/theme.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll"> 미술관 </a>
			</div>


 <!-- 로그인 유저 페이지 -->
			<div sec:authorize="isAuthenticated()">
			<!-- 관리자 페이지 -->
				<div sec:authorize="hasRole('ADMIN')" class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/admin">어드민페이지</a></li>
						<li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
						<li class="nav-item"><a class="nav-link" href="/auth/auction">Auction</a></li>
						<li class="nav-item"><a class="nav-link" href="/auth/store">Store</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/updateForm">회원정보</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">카테고리</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/">전체 글 보기</a>
								<a class="dropdown-item" href="/daily">일상</a>
								<a class="dropdown-item" href="/date">데이트</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="/board/saveForm">글쓰기</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/myBoard">작성글</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
					</ul>
				</div>

			<!-- 일반 유저 페이지 -->
			<div sec:authorize="hasRole('USER')" class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="/auth/auction">Auction</a></li>
					<li class="nav-item"><a class="nav-link" href="/auth/store">Store</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/updateForm">My Page</a></li>
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>

			<!--  비 로그인 페이지  -->
			<div sec:authorize="isAnonymous()" class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<div>
					<ul class="nav navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
						<li class="nav-item"><a class="nav-link" href="/auth/loginForm">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="/auth/joinForm">Sign Up</a></li>
					</ul>
				</div>
			</div>
		</nav>
           
	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md">
						<h1 class="brand-heading" href="#about">여름의 싱그러움을 담다.</h1><br>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about">
		<div class="container content-section text-center">
			<div class="row">
				<h2>Summer, 그 찬란한 모습</h2>
				<p>
					우리가 흔히 볼 수 있는, 그러나 무심결에 지나쳐버렸던 수많은 여름의 모습을 그림으로 담아 소개합니다. <br>
					저희 미술관에서 여름을 맞아 엄선한 작품 열 여섯 점을 언제 어디서든 쉽게 온라인으로 만나보세요.<br>
					"빈센트 반 고흐", "주세페 아르침볼도" 등 세계적인 거장의 작품을 해설과 함께 준비하였습니다.
				</p>
			</div>
		</div>
	</section>

	<!-- 전시 이미지 나열 -->
	<section id="page-sample">
		<div class="maincontainer text-center" id="imggallery">
		<div class="images2">
			<div class="gallery1">
			<!-- <a><img src="https://mdl.artvee.com/sftb/510372ld.jpg"></a> -->
			<a onclick="showLP1()"><img src="https://img.wikioo.org/ADC/Art.nsf/O/AQT8WP/$File/Peder-M-nsted-Summer-in-Capri.jpg"></a>
				<div>Summer In Capri (1885)<br>Peder Mørk Mønsted (Danish , 1859 – 1941)<br></div>
			<a onclick="showLP2()"><img src="https://c.wallhere.com/photos/46/43/2560x1600_px_Classy_fantasy_Art_The_Starry_Night_Vincent_Van_Gogh-1021920.jpg!d"></a>
				<div>The Starry Night (1889)<br>Vincent Van Gogh<br></div>
			<a onclick="showLP3()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Edvard_Munch_-_Summer_night%2C_Inger_on_the_beach_%281889%29.jpg/1280px-Edvard_Munch_-_Summer_night%2C_Inger_on_the_beach_%281889%29.jpg"></a>
				<div>Inger on the Beach (1889)<br>Edvard Munch<br></div>
			</div>
		</div>
		<div class="images2">
			<div class="gallery2">
			<!-- <a><img src="https://mdl.artvee.com/sftb/207144fg.jpg"></a> -->
			<a onclick="showLP4()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Childe_Hassam_-_Summer_Sunlight_%28Isles_of_Shoals%29_-_Google_Art_Project.jpg/761px-Childe_Hassam_-_Summer_Sunlight_%28Isles_of_Shoals%29_-_Google_Art_Project.jpg?20121010230226"></a>
				<div>Summer Sunlight(Isles Of Shoals) (1892)<br>Childe Hassam (American, 1859-1935)<br></div>
			<a onclick="showLP5()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/James_Tissot_-_On_the_Thames.jpg/617px-James_Tissot_-_On_the_Thames.jpg?20121130174908"></a>
				<div>On the Thames (1874)<br>James Tissot<br></div>
			<a onclick="showLP6()"><img src="https://post-phinf.pstatic.net/MjAxODA3MTlfODIg/MDAxNTMxOTc5MTkyODI4.e9LsTTAgWhGpaHjCNWHJNosihclOsskjYYKBgNGLQ4Ug.PN6YDrfCTsz8XYpejbEuY_ZeFUF5aKDL9yeOTI4PlX4g.JPEG/1270614146143611986216322_chansol21.jpg?type=w1200&type=w1200"></a>
				<div>View of Saintes-Maries-de-la-Mer (1888)<br>Vincent Van Gogh<br></div>
			</div>
		</div>
		<div class="images2">
			<div class="gallery3">
			<a onclick="showLP7()"><img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Camille_Joseph_%C3%89tienne_Roqueplan_%281800-1855%29_-_Summer_Pleasures_-_P583_-_The_Wallace_Collection.jpg?20201211023803"></a>
				<div>Summer Pleasures (1830)<br>Camille-Joseph-Etienne Roqueplan (French, 1803-1855)<br></div>
			<a onclick="showLP8()"><img src="https://uploads8.wikiart.org/images/vincent-van-gogh/summer-evening-wheatfield-with-setting-sun-1888.jpg!Large.jpg"></a>
				<div>Summer Evening, Wheatfield with Setting sun (1888)<br>Vincent van Gogh<br></div>
			<a onclick="showLP9()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Paul_Gauguin_056.jpg/1280px-Paul_Gauguin_056.jpg"></a>
				<div>Tahitian Women on the Beach (1891)<br>Paul Gauguin<br></div>
			</div>
		</div>
		<div class="images2">
			<div class="gallery4">
			<a onclick="showLP10()"><img src="https://uploads1.wikiart.org/00370/images/charles-courtney-curran/summer-charles-courtney-curran.jpg!Large.jpg"></a>
				<div>Summer (1906)<br>Charles Courtney Curran (American, 1861-1942)<br></div>
			<a onclick="showLP11()"><img src="https://uploads2.wikiart.org/summer-1563(1).jpg!Large.jpg"></a>
				<div>Summer (1563)<br>Giuseppe Arcimboldo<br></div>
			<a onclick="showLP12()"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Boating_-_%C3%89douard_Manet.jpg/1280px-Boating_-_%C3%89douard_Manet.jpg"></a>
				<div>Boating (1874)<br>Édouard Manet<br></div>
			</div>
		</div>
		</div>
	</section>

	<!-- 레이어 팝업 -->
	<div>
		<div id="LP1">
			<div id="popup">
				<div>
					<img src="https://img.wikioo.org/ADC/Art.nsf/O/AQT8WP/$File/Peder-M-nsted-Summer-in-Capri.jpg">
				</div>
				<div class="content-section">
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다.<br>오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다.<br>그의 아버지는 부유한 조선업자였다.<br>어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다.<br>1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다.<br>1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다.<br>1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다.<br>그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다. 
						<br><br><br><br><br>
						<div>Summer In Capri (1885)<br>Peder Mørk Mønsted (Danish , 1859 – 1941)<br></div>
						</div>
					<a class="btnghost" onclick="closeLP1()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP2">
			<div id="popup">
				<div class="content-section">
					<img src="https://c.wallhere.com/photos/46/43/2560x1600_px_Classy_fantasy_Art_The_Starry_Night_Vincent_Van_Gogh-1021920.jpg!d">
					<br><br>
					<div><h3>The Starry Night (1889)<br>Vincent Van Gogh<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP2()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP3">
			<div id="popup">
				<div class="content-section">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Edvard_Munch_-_Summer_night%2C_Inger_on_the_beach_%281889%29.jpg/1280px-Edvard_Munch_-_Summer_night%2C_Inger_on_the_beach_%281889%29.jpg">
					<br><br>
					<div><h3>Inger on the Beach (1889)<br>Edvard Munch<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP3()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP4">
			<div id="popup">
				<div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Childe_Hassam_-_Summer_Sunlight_%28Isles_of_Shoals%29_-_Google_Art_Project.jpg/761px-Childe_Hassam_-_Summer_Sunlight_%28Isles_of_Shoals%29_-_Google_Art_Project.jpg?20121010230226">
				</div>
				<div class="content-section">
					<div id="inf">
						미국 최고의 인상주의자인 Childe Hassam은 Massachusetts, Dorchester에서 태어났다. <br>그는 보스턴으로 일하러 가기 위해 고등학교를 떠났고, <br>그곳에서 그는 목판화를 배웠고 결국 일러스트레이터가 되었다. <br>그의 삽화는 스크리브너스와 하퍼스와 같은 출판물에 실렸다. <br>동시에 그는 보스턴 클럽에서 미술을 공부했고, <br>로웰 인스티튜트를 거쳐 마침내 자신만의 스튜디오를 세웠다. <br>1880년대 초의 그의 작품들은 뉴미디어와 주제에 대한 지속적인 탐구로 특징지어진다.
						<br><br><br><br><br>	
						<div>Summer Sunlight(Isles Of Shoals) (1892)<br>Childe Hassam (American, 1859-1935)<br></div>
					</div>
					<a class="btnghost" onclick="closeLP4()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP5">
			<div id="popup">
				<div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/James_Tissot_-_On_the_Thames.jpg/617px-James_Tissot_-_On_the_Thames.jpg?20121130174908">
				</div>
				<div class="content-section">
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						<br><br><br><br><br>	
					</div>
					<div>On the Thames (1874)<br>James Tissot<br></div>
					<a class="btnghost" onclick="closeLP5()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP6">
			<div id="popup">
				<div class="content-section">
					<img src="https://post-phinf.pstatic.net/MjAxODA3MTlfODIg/MDAxNTMxOTc5MTkyODI4.e9LsTTAgWhGpaHjCNWHJNosihclOsskjYYKBgNGLQ4Ug.PN6YDrfCTsz8XYpejbEuY_ZeFUF5aKDL9yeOTI4PlX4g.JPEG/1270614146143611986216322_chansol21.jpg?type=w1200&type=w1200">
					<br><br>
					<div><h3>View of Saintes-Maries-de-la-Mer (1888)<br>Vincent Van Gogh<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP6()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP7">
			<div id="popup">
				<div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Camille_Joseph_%C3%89tienne_Roqueplan_%281800-1855%29_-_Summer_Pleasures_-_P583_-_The_Wallace_Collection.jpg?20201211023803">
				</div>
				<div class="content-section">
					<div id="inf">
						카밀 조셉 에티엔 로크플랜은 프랑스의 낭만주의 화가이다. <br>
						어려서부터 그는 그림에 소질을 보였고, 종종 그의 반 친구들을 고쳐주곤 했다. <br>18세 무렵, 그는 그림 수업을 받기 시작했다. <br>이상하게도, 그의 아버지가 그에게 예술을 직업으로 삼으라고 권했을 때, <br>카밀은 그것이 직업이 아닌 즐거운 오락으로 남기를 원했기 때문에 망설였다. <br>곧, 그가 강제로 받아야 한다고 느낀 교훈은 그에게 혐오감을 야기시켰고 <br>그는 의학을 공부하기 시작했다. <br>
						그는 해부학 수업까지 나왔는데, 그 수업은 별로 마음에 들지 않아 시험에 떨어졌다. <br>그 후 그는 그의 아버지가 일하던 재무부의 서기가 되었지만, 이것 역시 단명하였다. <br>
						그는 지역 화가들과 함께 그림을 그리고 풍경과 인물화를 공부하기로 결심했다. <br>그들의 조언에 따라 그는 에콜 데 보아트에 있는 아벨 드 푸졸의 스튜디오에서 자리를 찾았다.
						<br><br><br><br><br>	
						<div>Summer Pleasures (1830)<br>Camille-Joseph-Etienne Roqueplan (French, 1803-1855)<br></div>
					</div>
					<a class="btnghost" onclick="closeLP7()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP8">
			<div id="popup">
				<div class="content-section">
					<img src="https://uploads8.wikiart.org/images/vincent-van-gogh/summer-evening-wheatfield-with-setting-sun-1888.jpg!Large.jpg">
				<br><br>
					<div><h3>Summer Evening, Wheatfield with Setting sun (1888)<br>Vincent van Gogh<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP8()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP9">
			<div id="popup">
				<div class="content-section">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Paul_Gauguin_056.jpg/1280px-Paul_Gauguin_056.jpg">
				<br><br>
					<div><h3>Tahitian Women on the Beach (1891)<br>Paul Gauguin<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP9()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP10">
			<div id="popup">
				<div class="content-section">
					<img src="https://uploads1.wikiart.org/00370/images/charles-courtney-curran/summer-charles-courtney-curran.jpg!Large.jpg">
				<br><br>
					<div><h3>Summer (1906)<br>Charles Courtney Curran (American, 1861-1942)<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP10()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP11">
			<div id="popup">
				<div>
					<img src="https://uploads2.wikiart.org/summer-1563(1).jpg!Large.jpg">
				</div>
				<div class="content-section">
					<div id="inf">
						우화의 거장 아르킴볼도는 사계절 시리즈의 각 초상화를<br>그 당시와 관련된 식물을 이용하여 그렸다. <br> 그의 그림은 겉으로 보이는 변덕스러움으로 부유한 궁정들을 즐겁게 하고 매료시켰지만, <br>그들은 또한 지적인 사람들에게 호소했다. <br>이 집합에서 아르킴볼도는 각 계절이 인간의 삶의 단계에 해당한다고 제안했다. <br>봄은 젊음을, 겨울은 노년기를, 여름은 전성기를 보여준다. <br>이 시리즈는 또한 황제를 상징적으로 찬미하기 위한 것이라는 정치적 메시지를 담고 있다. <br>황제가 인간의 일을 다스렸기 때문에, <br>그는 또한 계절을 포함하여 더 큰 세상을 운영한다고 말할 수 있다.
						<br><br><br><br><br>
						<div>Summer (1563)<br>Giuseppe Arcimboldo<br></div>
					</div>
					<a class="btnghost" onclick="closeLP11()">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="LP12">
			<div id="popup">
				<div class="content-section">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Boating_-_%C3%89douard_Manet.jpg/1280px-Boating_-_%C3%89douard_Manet.jpg">
					<br><br>
					<div><h3>Boating (1874)<br>Édouard Manet<br></h3></div><br>
						<div id="inf">
						"몽스테드"는 덴마크 그르노 근처의 발레 묄레에서 태어났다. 오토 크리스티안 몽스테드와 토라 요하네스 페트레아 요르겐센 사이에서 태어났다. 그의 아버지는 부유한 조선업자였다. 어린 나이에, 그는 오르후스에 있는 미술 학교에서 그림 수업을 받기 시작했다. 1875년부터 1879년까지 닐스 시몬센, 줄리어스 엑스너와 함께 왕립 미술 아카데미에서 공부했다. 1878년, 몽스테드는 화가 페데르 세베린 크뢰이어에게 가르침을 받았다. 1882년, 그는 로마에서 시간을 보냈고, 그 다음해 카프리스는 파리를 방문하여 윌리엄 아돌프 부그로의 스튜디오에서 일했다. 그는 점차 개인적인 학문적 자연주의 스타일을 발전시켰다.
						</div>
					<a class="btnghost" onclick="closeLP12()">닫기</a><br><br>
				</div>
			</div>
		</div>
	</div>
	

	
	<!-- Contact Section -->
	<section id="contact">
		<div class="container content-section text-center">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					
				</div>
			</div>
		</div>
	</section>   


<!-- Footer -->
<footer>
	<div class="container text-center">
		<p class="credits">
			Go to <i class="fa fa-love"></i><a
				href="https://github.com/893107/Full-stack-Project.git">GitHub</a>
		</p>
	</div>
</footer>
	
<script src="/js/jquery.js"></script>
<script src="/js/function.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/theme.js"></script>	
</body>
</html>