<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>온라인 굿즈 스토어</title>
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/css/theme.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<span id="tothetop">
		<button class="action_btn" onclick="showlayer2()">
			<span class="button__text">1</span>
			<svg class="button__svg" role="presentational" viewBox="0 0 600 600">
			  <defs>
				<clipPath id="myClip">
				  <rect x="0" y="0" width="100%" height="50%" />
				</clipPath>
			  </defs>
			  <g clip-path="url(#myClip)">
				<g id="money">
				  <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				  <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				</g>
				<g id="creditcard">
				  <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				  <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
				  <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
				</g>
			  </g>
			  <g id="wallet">
				<path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				<path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				<path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
				<path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
				<path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
			  </g>
			</svg>
		  </button>
	</span>
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll">
		Online Store </a>
	</div>
	<!-- header 메뉴 -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li class="nav-item"><a class="nav-link" href="/">Gallery</a></li>
			<li class="nav-item"><a class="nav-link" href="/auth/auction">Auction</a></li>
			<li class="nav-item"><a class="nav-link" href="/auth/store">Store</a></li>
			<li class="nav-item"><a class="nav-link" href="/user/updateForm">My Page</a></li>
			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="myheader"><div class="intro-body"></div></header>

<body>
	<section id="page-sample">
	<div class="container content-section text-center" id="imgcontent">
		<div class="images">
			<div class="imageFlex1">
			<a href="https://artistu.kr/product/%EB%B9%88%EC%84%BC%ED%8A%B8-%EB%B0%98-%EA%B3%A0%ED%9D%90-%EB%B3%84%EC%9D%B4-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B0%A4-%EC%8A%A4%EB%A7%88%ED%8A%B8%ED%86%A1/3053/">
				<img src="https://artistu.kr/web/product/big/20200107/d079ce86d0a41c338cc1855291d329e6.jpg"></a>
			<div>빈센트 반 고흐<br>별이 빛나는 밤 스마트톡<br>￦<span>6000</span></div>
			<a href="http://www.yes24.com/Product/Goods/77186411">
				<img src="http://image.yes24.com/goods/77186411/XL"></a>
			<div>빈센트 반 고흐<br>별이 빛나는 밤 우산/양산겸용 자동우산<br>￦<span>38720</span></div>
			<a href="https://artmad.co.kr/product/buds-%EC%9A%94%ED%95%98%EB%84%A4%EC%8A%A4-%EB%B2%A0%EB%A5%B4%EB%A9%94%EB%A5%B4%EC%A7%84%EC%A3%BC%EA%B7%80%EA%B1%B8%EC%9D%B4%EB%A5%BC-%ED%95%9C-%EC%86%8C%EB%85%80-%EB%AA%85%ED%99%94-%EB%B2%84%EC%A6%88-%ED%94%8C%EB%9F%AC%EC%8A%A4-%EB%9D%BC%EC%9D%B4%EB%B8%8C-%ED%94%84%EB%A1%9C-%ED%95%98%EB%93%9C%EC%BC%80%EC%9D%B4%EC%8A%A4/1183/category/125/display/1/">
				<img src="https://artmad.co.kr/web/product/big/202104/3114254782688a80fc24ff568d009e61.jpg"></a>
			<div>요하네스 베르메르<br>진주귀걸이를 한 소녀 버즈 하드케이스<br>￦<span>7900</span></div>
			<a href="https://www.coupang.com/vp/products/4760777660?itemId=6065512591&vendorItemId=73362311381&src=1042503&spec=10304982&addtag=400&ctag=4760777660&lptag=10304982I6065512591&itime=20220722141234&pageType=PRODUCT&pageValue=4760777660&wPcid=16570676624900860895556&wRef=&wTime=20220722141234&redirect=landing&gclid=Cj0KCQjw8uOWBhDXARIsAOxKJ2ENfxhd1QE-6Zjvr5NzdrEAcbK5LdlaCGp6EAB9PoIOPPlmbJSsYQAaApLYEALw_wcB&campaignid=12190344133&adgroupid=115386518325&isAddedCart=">
				<img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/161588549165372320.jpg?gif=1&w=850&h=850&c=c&webp=1"></a>
			<div>호아킨 소로야<br>해변산책 캔버스 테이블 액자<br>￦<span>15000</span></div>
			<a href="https://artmad.co.kr/product/%ED%86%B0%ED%86%B0%EC%8A%A8-%EC%8D%B8%EB%A8%B8%EB%8D%B0%EC%9D%B4-%EB%AA%85%ED%99%94-%ED%8F%B0-%EC%BC%80%EC%9D%B4%EC%8A%A4/1146/">
				<img src="https://artmad.co.kr/web/product/big/202102/166e9991e7b462c457e0a1676e430b91.jpg"></a>
			<div>톰 톰슨<br>썸머데이 폰케이스<br>￦<span>14000</span></div>
			</div>
		</div>
		<div class="images">
			<div class="imageFlex2">
			<a href="https://artistu.kr/product/detail.html?product_no=3056&cate_no=169&recommend_type=l">
				<img src="https://artistu.kr/web/product/big/20200107/ff33643cf6660f7b77aeb20264cf6918.jpg"></a>
			<div>빈센트 반 고흐<br>생트 마리 드라메르의 바다 풍경 스마트톡<br>￦<span>6000</span></div>
			<a href="https://www.intermarket.co.kr/src/product_detail.php?gdno=8530">
				<img src="https://www.intermarket.co.kr/data/thumbnail/goods/thumb-5d119297dffa0_568x568.jpg"></a>
			<div>빈센트 반 고흐<br>명화 에코백 (대형)<br>￦<span>6000</span></div>
			<a href="http://pnjintnl.com/product/detail.html?product_no=89&cate_no=24&display_group=1">
				<img src="http://pnjintnl.com/web/product/big/202007/aebe0c6581d09bdf61dbe9eb777a7d47.png"></a>
			<div>클로드 모네<br>수련 틴클립세트<br>￦<span>7500</span></div>
			<a href="http://pnjintnl.com/product/detail.html?product_no=87&cate_no=24&display_group=1">
				<img src="http://pnjintnl.com/web/product/big/20200626/63839098eb77be04b594a1695629b0ae.png"></a>
			<div>종합세트<br>인상주의 우표스티커<br>￦<span>7500</span></div>
			<a href="http://pnjintnl.com/product/detail.html?product_no=70&cate_no=24&display_group=1">
				<img src="http://pnjintnl.com/web/product/big/202007/3ae61af6856d406505af800f814c35b6.png"></a>
			<div>빈센트 반 고흐<br>아몬드나무 마스킹테이프<br>￦<span>5500</span></div>
			</div>
		</div>
		<div class="images">
			<div class="imageFlex3">
				<a href="https://artistu.kr/product/detail.html?product_no=3049&cate_no=169&recommend_type=l">
					<img src="https://artistu.kr/web/product/big/20200107/74d3325fa533ee32672f4fe45298ea6b.jpg"></a>
				<div>빈센트 반 고흐<br>꽃이 핀 아몬드 나무 스마트톡<br>￦<span>6000</span></div>
				<a href="https://artistu.kr/product/%EB%B9%88%EC%84%BC%ED%8A%B8-%EB%B0%98-%EA%B3%A0%ED%9D%90-%EB%B3%84%EC%9D%B4-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B0%A4-%EC%8A%A4%EB%A7%88%ED%8A%B8%ED%86%A1/3053/">
					<img src="https://harangmall.kr/web/product/big/202101/82e3c39361348aeb404c5f893d0c5133.jpg"></a>
				<div>클로드 모네<br>파라솔을 든 여인 버즈 프로 & 버즈 라이브 케이스 <br>￦<span>22900</span></div>
				<a href="https://artistu.kr/product/%EB%B9%88%EC%84%BC%ED%8A%B8-%EB%B0%98-%EA%B3%A0%ED%9D%90-%EB%B3%84%EC%9D%B4-%EB%B9%9B%EB%82%98%EB%8A%94-%EB%B0%A4-%EC%8A%A4%EB%A7%88%ED%8A%B8%ED%86%A1/3053/">
					<img src="https://artistu.kr/web/product/big/20200107/d079ce86d0a41c338cc1855291d329e6.jpg"></a>
				<div>빈센트 반 고흐<br>인상주의 명화 스티커<br>￦<span>6000</span></div>
				<a href="http://pnjintnl.com/product/detail.html?product_no=85&cate_no=24&display_group=1">
					<img src="http://pnjintnl.com/web/product/big/202007/a7749da84a8fc1e4025c6e2354488009.png"></a>
				<div>빈센트 반 고흐<br>아몬드나무 틴클립세트<br>￦<span>7500</span></div>
				<a href="https://seouldshop.com/shop/item.php?it_id=1597971292">
					<img src="https://artistu.kr/web/product/big/20200107/d079ce86d0a41c338cc1855291d329e6.jpg"></a>
				<div><br>별이 빛나는 밤 스마트톡<br>￦<span>6000</span></div>
		</div>
	</div>
</div>
</section>
</body>

<!-- 레이어팝업2 -->
<div>
	<div id="layer_bg2">
		<div id="popup"  class="text-center">
			<br><br><h3>예치금 충전하기</h3>
			<form id="auctionform" action="" method="post">
				<div class="div1">
					현재 잔액 : <input type="text" id="budget" th:value="${user.getBudget()}" class="text-center" readonly><br>
					<input type="text" placeholder="충전하실 금액을 입력하세요." class="text-center"><br>
					<a class="btnghost" onclick="">충전하기</a>&emsp;<a class="btnghost" onclick="closemoney()">닫기</a>
				</div>
		</div>
	</div>
</div>

<!-- Footer -->
<footer>
<div class="container text-center">
	<p class="credits">
		Go to <i class="fa fa-love"></i><a href="https://github.com/893107/Full-stack-Project.git">GitHub</a>

	</p>
</div>
</footer>
<!-- jQuery -->
<script src="/js/jquery.js"></script>
<script src="/js/function.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/theme.js"></script>
</body>
</html>